/* ----- MAIN PAGE HOME ----- */
/* --- SECTION INTRODUCCIÓN --- */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 10px;
    gap: 30px;
}

.intro img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    object-position: 0px 10%;
}

.description {
    width: 50vw;
    text-align: center;
}

.p_intro {
    animation: slidein 2s ease-out;
}

/* --- ANIMACIÓN DESLIZAMIENTO DESCRIPCIÓN --- */
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* --- ANIMACIÓN BORDE ONDULANTE --- */
@keyframes wavy {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 40% 60% 30% 70%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.wavy_border {
    border: var(--color-enfasis2) 5px dotted;
    animation: wavy 4s ease-in-out infinite;
    box-shadow:
        0 0 18px var(--color-enfasis2),
        0 0 30px var(--color-enfasis2),
        0 0 55px var(--color-enfasis2);
}

/* --- SECTION SKILLS --- */
.skills {
    /* background-color: var(--color-enfasis1); */
    width: 75%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.skill_bar {
    width: 85%;
    padding: 0 5vw;
}

.progress {
    position: relative;
    width: 100%;
    height: 2rem;
    background-color: var(--color-fondo);
    border-radius: 15px;
    overflow: hidden;
    margin: 25px 0;
    box-shadow:
        0 0 4px var(--color-enfasis1),
        0 0 10px var(--color-enfasis1),
        0 0 25px var(--color-enfasis1);
}

.progress span {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.progress::before {
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background-color: var(--color-enfasis2);
    border-radius: 15px;
    animation: fillProgress 2s ease-out forwards;
}

@keyframes fillProgress {
    from {
        width: 0;
    }
    to {
        width: var(--wth);
    }
}

.skills_name {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 25px 0;
}